@model List<Course>

@{
    ViewBag.Title = "Courses";
}

<a href = "/Courses/New" class="btn btn-outline-primary"> New </a>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Degree</th>
            <th scope="col">Minimum Degree</th>
            <th scope="col">Department</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <th scope="row">@course.Id</th>
                <td>@course.Name</td>
                <td>@course.Degree</td>
                <td>@course.MinDegreee</td>
                <td>@course.Department?.Name</td>
                <td><a href = "/Courses/@course.Id" class="btn btn-outline-info">Details</a></td>
                <td><a href="/Courses/Update/@course.Id" class="btn btn-outline-secondary">Update</a></td>
                <td><a href="/Courses/Delete/@course.Id" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        }

    </tbody>

</table>